pandas==2.2.2
numpy
matplotlib
kloppy
mplsoccer
polars
humanize
# SkillCorner Viz (optional depends on colab usage)
skillcorner==3.1
skillcornerviz

# Documentation
mkdocs-material>=9.5.0
mkdocs-jupyter>=0.24.0
